<section class="bg-dark">
    <div class="container">
    <div class="row py-5 text-center text-white">
        <div class="col-md-4 mt-3">
            <div>
                <h2 class="fw-bold fs-5">LOCATION</h2>
                <p>2215 John Daniel Drive</p>
                <h6>Clark, MO 65243</h6>
            </div>
        </div>
       
        <div class="col-md-4 ">
            <div>
                <h2 class="">AROUND THE WEB</h2>
                <div class="py-3">
                    
                    <span class="p-3 me-2 border border-primary rounded-5"><i class="fa-brands fa-facebook"></i></span>
                    <span class="p-3 me-2 border border-primary rounded-5"><i class="fa-brands fa-twitter"></i></span>
                    <span class="p-3 me-2 border border-primary rounded-5"><i class="fa-brands fa-linkedin"></i></span>
                    <span class="p-3 me-2 border border-primary rounded-5"><i class="fa-solid fa-globe"></i></span>
                </div>
            </div>
        </div>

        <div class="col-md-4 ">
            <div>
                <h2>ABOUT FREELANCER</h2>
                <p>Freelance is a free to use, licensed Bootstrap theme</p>
                <h6>created by Route</h6>
            </div>
        </div>
    </div>
    
</div>
<div class="text-center bg-secondary">
    <p class="py-4">Copyright © Your Website 2021</p>
</div>
</section>