
<div class="bg-light  text-white foop">
   
    <div class="text-center text-black pt-4 mt-2">
        <h1>CONATCT SECTION</h1>
        <div class="d-flex justify-content-center align-items-center">
            <div class="liuue bg-black me-3"></div>
            <i class="fa-regular fa-star"></i>
            <div class="liuue bg-black ms-3"></div>
        </div>
       </div>
    <form class="mt-5 w-50 p-3 mx-auto " >
        <label class="" for="x1">user name: </label>
        <input class="form-control my-3 border-0 border-bottom position-relative" placeholder="user name:" id="x1" type="text">

        <label class="" for="x2">userAge: </label>
        <input class="form-control my-3 border-0 border-bottom position-relative" placeholder="userAge:" id="x2" type="text">

        <label class="" for="x3">userEmail:</label>
        <input class="form-control my-3 border-0 border-bottom position-relative" placeholder="userEmail:"  id="x3" type="text">

        <label class="" for="x4">userPassword: </label>
        <input class="form-control my-3 border-0 border-bottom position-relative" id="x4 " placeholder="userPassword:" type="text">
        <button class="btn btn-primary">send message</button>
    </form>
 </div>

